@model OdeToFood.ViewModels.HomePageVM

@{
    ViewBag.Title = "Restaurant List";
}

<h1>Restaurant list</h1>

@foreach (var restaurant in Model.Restaurants)
{
    @Html.Partial("_Summary", restaurant)
}

<hr />
<div>
    <a asp-action="Create">Create</a>
</div>
<hr />
